.divider {
    border: 0;
    height: 1px;
    background-color: var(--border-color);
    margin: 2.5rem 0;
}

.login-actions {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.action-box p {
    margin: 0 0 0.5rem 0;
    font-size: 0.9rem;
    color: var(--text-light);
    text-align: center;
}
